.section {
	position: relative;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: 100vw;
	height: 700px;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
}

.container {
	margin: 0 auto;
	padding: 0 24px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title{
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	color: var(--color-white);
}

.subtitle{
	font-weight: bold;
	font-size: 24px;
	color: var(--color-white);
}

.backgroundSkeleton {
	position: absolute;
	inset: 0;
}
